<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Panneau d\'administrateur')"></head>
<body>
<nav th:replace="views/admin/fragments :: navbar"></nav>
<div th:replace="views/admin/fragments ::
    header(title = 'Gestion d\'utilisateurs',
    description = 'Ici vous gérer les administrateurs et les agents de l\'application.')">
</div>
<!--Main section-->
<div class="ml-5 mr-5 mb-5">
    <a th:href="@{/admin/users/ajouter/}" class="ml-auto mb-2">
        <button type="button" class="btn mb-3 btn-primary" style="display: block;margin-left: auto;">Ajouter un utilisateur</button>
    </a>
    <p th:if="${ #lists.isEmpty(users)}">Aucun utilisateur ajouté.</p>
    <table class="table" th:if="${not #lists.isEmpty(users)}">
        <thead>
        <tr>
            <th scope="col">Nom et prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Date d'ajout</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <th scope="row" >
                <div th:text="${user.getNom() + ' ' +  user.getPrenom()}"></div>
                <p  th:if="${user.role.name().equals('AGENT')}" style="opacity: 0.65;font-size: 12px;" th:text="${user.agent.agence.ville.nom + ' / ' + user.agent.agence.libelleAgence}"></p>
            </th>
            <td th:text="${user.email}">o@g.c</td>
            <td th:if="${user.role.name() == 'ADMIN'}">Administrateur</td>
            <td th:if="${user.role.name() == 'AGENT'}">Agent</td>
            <td th:text="${user.dateDeCreation}">20 Mars 2020</td>
            <td>
                <a th:href="@{'users/update/' + ${user.id}}">
                    <button class="btn btn-outline-primary mr-2 btn-sm">Modifier</button>
                </a>
                <form id="delete-form" method="post" style="display: inline-block" th:action="${'users/delete/' + user.id}">
                    <input type="hidden" name="_method" value="DELETE" id="">
                    <button  id="" type="submit" class="btn delete-btn btn-outline-danger btn-sm">Supprimer</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
<script>
    $(document).ready(() => {
        $('.delete-btn').click((e) => {
            e.preventDefault();
            console.log("Clicked", e);
            var data = $("#delete-form").serialize();
            var url = e.target.form.action;
            var password = prompt("Entrez votre mot de passe pour confirmer la suppression de cet utilisateur :");
            if (password.length) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: data + '&password=' + password
                }).done((response) => {
                    console.log("Response", response);
                    location.reload();

                }).fail((error) => {
                    console.log("Failed", error);
                    alert(error.responseJSON.message);
                });
            }
            return false;
        })
    })
</script>
</body>
</html>
