.red{
    color: #8b1e29;

}
.green{
    color: #1c7430;

}
/*.space{*/
/*    margin-top: 80px;*/
/*    size: 50px;*/

/*    !*    left: 25%;*!*/
/*}*/
/*.login{*/
/*    width: 1000px;*/
/*    margin-top: 100px;*/
/*}*/

.grid {
    display: grid;
    grid-template-columns: repeat(4,minmax(auto, 1fr));
    grid-gap: 2rem;
    margin-bottom: 10rem;
}

.dashboard-card {
    box-shadow: 1px 1px 32px -17px;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.card-icon > * {
    font-size: 3rem;
    color: #3498db;
}

.card-details {
    margin-left: 2rem;
}
.number {
    font-weight: 900;
    font-size: 2rem;
}

.label {
    opacity: 0.6;
}
